html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", "serif";
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
  right: 0%;
  color: white;
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 0;
}

h2 {
  font-weight: bold;
  color: #9f0908;
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  margin-top: 0;
}

.economica {
  font-family: "Economica", "serif";
}

.head {
  background-image: url("../img/head_background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.menu {
  top: 0;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  margin-right: 160px;
  margin-bottom: 20vh;
}

.menu-text {
  padding-right: 35px;
  color: white;
}

.menu-text:hover {
  text-decoration: underline;
}

.phone {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-color: white;
  background-color: #9f0908;
  border-radius: 15px;
  border-width: 5px;
  border-style: ridge;
}

.phone:hover {
  background-color: #be1313;
}

.phone-img {
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
}

.menu-link {
  text-decoration: none;
}

.flower {
  width: 64px;
  height: 64px;
  margin-left: 160px;
  top: 24px;
}

.text-down {
  font-size: 24px;
  display: flex;
  justify-content: center;
  left: 0%;
  right: 0%;
  color: white;
  font-weight: normal;
}

.how-to-order {
  margin-bottom: 120px;
}

.how-to-order-overwiev {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
  font-size: 56px;
  margin-top: 64px;
}

.pic {
  height: 128px;
  width: 128px;
  margin-bottom: 16px;
}

.our-menu {
  background-image: url("../img/third_background.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: calc(120px - 56px);
}

.our-menu-text {
  text-align: center;
  padding-top: 120px;
  font-size: 80px;
  margin-bottom: 64px;
  color: #9f0908;
  font-weight: bold;
}

.our-menu-img {
  height: 352px;
  width: 352px;
}

.menu-right {
  padding-left: 120px;
  display: flex;
  margin-bottom: 56px;
}

.menu-left {
  padding-right: 120px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 56px;
}

.table-menu-right {
  margin-left: 80px;
  font-weight: bold;
  font-size: 32px;
  color: #675e54;
  padding: 8px;
}

.table-menu-left {
  margin-right: 80px;
  font-weight: bold;
  font-size: 32px;
  color: #675e54;
}

.font-head {
  font-size: 56px;
  color: black;
  font-family: "Economica", "serif";
  padding-bottom: 16px;
}

td {
  padding-bottom: 8px;
}

.find-us-text {
  text-align: center;
  width: 100%;
  font-size: 80px;
  color: #9f0908;
  font-weight: bold;
}

.address {
  font-size: 24px;
  color: #675e54;
  margin-bottom: 64px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.pin-icon {
  height: 24px;
  width: 24px;
}

.map {
  width: 100%;
  height: 550px;
  border: 0;
}

.footer {
  position: absolute;
  background-color: #0a141e;
  width: 100%;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sakura-logo {
  height: 44px;
  padding-left: 160px;
}

.icons {
  height: 40px;
  width: 40px;
  padding-right: 20px;
}
.distance {
  padding-right: 140px;
}

/* Media 1100px */

@media (max-width: 1100px) {
  .menu-link {
    display: none;
  }
  .menu-left {
    padding-right: 50px;
  }
}

/* Media 1000px */

@media (max-width: 1000px) {
  .menu-right {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding-left: 0;
  }
  .table-menu-right {
    padding-top: 30px;
    margin-left: 0;
    align-content: center;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
  }

  .menu-left {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding-right: 0;
    margin-right: 0;
  }
  .table-menu-left {
    padding-top: 30px;
    margin-right: 0;
  }

  .our-menu {
    padding-bottom: 30px;
  }
}

/* Media 850px (Logo tauschen) */

@media (min-width: 850px) {
  .sakura-logo-media {
    display: none;
  }
}

/* Media 849px */

@media (max-width: 849px) {
  h1 {
    font-size: 80px;
  }

  .sakura-logo {
    display: none;
  }

  .sakura-logo-media {
    height: 40px;
    width: 40px;
  }

  .footer {
    justify-content: space-around;
  }

  .distance {
    padding-right: 0;
  }

  h2 {
    text-align: center;
    padding-top: 80px;
    font-size: 60px;
  }

  .how-to-order-overwiev {
    flex-direction: column;
    margin-top: 30px;
  }

  .pic {
    margin-top: 30px;
  }
}

/* Media 650px */

@media (max-width: 650px) {
  h1 {
    margin: 20px;
    justify-content: flex-end;
    text-align: center;
  }

  .flower {
    margin-left: 0;
  }

  .menu {
    justify-content: space-evenly;
    margin-right: 0px;
    margin-bottom: 80px;
  }

  .address {
    margin-bottom: 50px;
  }
}

/* Media 550px */

@media (max-width: 550px) {
  .menu-left {
    justify-content: space-between;
  }

  .menu-right {
    justify-content: space-between;
  }

  tr th {
    width: 320px;
  }

  .address {
    font-size: 18px;
    padding: 0 15px 50px 17px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }
}

/* Media 390px */

@media (max-width: 390px) {
  .flower {
    width: 50px;
    height: 50px;
  }

  .phone {
    color: white;
    text-decoration: none;
    padding: 4px;
    border-color: white;
    background-color: #9f0908;
    border-radius: 8px;
    border-width: 2px;
    border-style: ridge;
    font-size: 20px;
  }

  h1 {
    margin: 10px;
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
    margin-top: 0;
  }

  .menu {
    margin-bottom: 60px;
  }

  .text-down {
    margin: 20px;
    text-align: center;
    font-size: 18px;
  }

  .our-menu {
    padding-bottom: 10px;
  }

  .our-menu-img {
    height: 200px;
    width: 200px;
  }

  .font-head {
    font-size: 40px;
  }

  td {
    font-size: 20px;
  }

  tr th {
    width: 260px;
  }

  .map {
    height: 300px;
  }

  .menu-right {
    margin-bottom: 40px;
  }
  .menu-left {
    margin-bottom: 40px;
  }
}
